/* Blackjack Stylesheet */


/* Global */
* {
    box-sizing: border-box;
}

/* Custom Properties */
:root{
    --site-theme-color: #000000;
    --site-bg-color:    #26ad5e;
}

body, html {
    width: 100%;
    background-color: var(--site-bg-color);
    font-size: 16;
    font-weight: 400;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    text-align: center;
    width: max-content;
    margin: 0 auto;
}

.logo {
    margin-top: 15px;
}
.card-container {
    width: max-content;
    margin: auto;
    min-width: 500px;
    min-height: 220px;
    padding: 20px;
    background-color: #1e894b;
    border-radius: 10px;
    text-align: center;
}

#dealer-container {
    margin-top: 15px;
}

#player-container {

}

.card-cell {
    position: relative;
    display: inline-block;
}

.game-info {
    display: inline-block;
    height: max-content;
    min-width: 500px;
    padding: 10px;
    margin: 0 auto;
    text-align: left;
    line-height: 25px;
}

#game-stage {
    display: flex;
    justify-content: space-evenly;
    height: max-content;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#player-info, #dealer-info, #message-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #282828;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 30px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 300;
}

#dealer-info {
    justify-content: center;
}

#data-hand-total, #data-dealer-hand-total, #data-bet, #data-stash {
    font-weight: bold;
    color: orange;
}

#message-alert {
    position: relative;
    background-color: #96205b;
    display: none;
    font-weight: bold;
    font-size: 16px;
}

.message-alert-icon {
    position: absolute;
    left: 8px;
    top: 7px;
    font-size: 16px;
}

#message-value {
    position: absolute;
    top: 7px;
    left: 42%;
}

/* BUTTONS */
.btn-normal {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 158px;
    height: 57px;
    margin: 10px;
    border-radius: 16px;
    border: none;
    background-image: url("../../assets/imgs/button-bg.png");
}

.btn-normal:hover {
    border: 3px solid #282828;
}

.btn-normal:active {
    border: 3px solid #ffc400;
    transform: scale(0.9);
}